/* ЗАГОЛОВОК САЙТА */

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 94px;
}

.navigation {
  display: flex;
  gap: 33px;
  margin-left: 50px;
  font-size: 18px;
  list-style-type: circle;
}

.image_header {
  width: 155px;
  height: 105px;
  margin-left: 34px;

}

.no_italic {
  font-style: normal;
}

.basic_info {
  width:220px;
  margin-left: 183px;
  font-size: 18px;
  line-height: 25px;
}

.navig_link {
  text-decoration: none;
  list-style: none;
}

.link_far_underline {
  border-bottom: 1.5px solid black;
  text-decoration: none;
}


/* ГЛАВНАЯ СЕКЦИЯ */

.cover {
  position: relative;
  min-height: 757px;
}

 .overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
} 

.main_screen_background_photo {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-image: url(../images/cover.jpg);
  background-position:center;
  background-size: cover;
}


.cover__title {
  color: white;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  margin-left: 50px;
  padding-top: 165px;
}

.aligned-text_center {
  margin-top: 15px;
  margin-left: 380px;
}

.aligned-text_right {
  margin-top: 20px;
  margin-left: 664px;
}

.cover__description {
  display: inline-block;
  width: 65%;
  margin-top: 118px;
  margin-left: 50px;
  color: white;
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 50px;
  margin-left: 25px;
  border: 2px solid currentColor;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/* ЛОТЫ */
.lots__heading {
  margin-top: 179px;
  margin-left: 65px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 25px;
  margin-left: 25px;
  list-style: none;
}

.card_link {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration:none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 600px;
}

.card_background {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-position:center;
  background-size:cover;
}

.film {
  background-image: url(../images/card-lot-01.jpg);
}

.book {
  background-image: url(../images/card-lot-02.jpg);
}

.painting {
  background-image: url(../images/card-lot-03.jpg);
}

.card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:254px;
  min-height: 100%;
  margin-left: 40px;
}

.card_header {
  margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card_text {
  margin-bottom: 50px;
  color: white;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 64px;
  font-size: 20px;
  text-underline-offset: 3px;
}

/* СЕКЦИЯ О ПРОЕКТЕ */
.about {
  display: grid;
  grid-template-columns: 340px 1fr;
  margin-top: 115px;

}

.img_logo {
  align-self: center;
  width: 150px;
  height: 115px;
}

.logo_white_background {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 40px;
  margin-left: 75px;
  border-radius: 50%;
  background-color: black;
}

.about_margin {
  margin-left: 40px;
}

.about_header {
  justify-self: start;
  margin-top: 137px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 685px;
  margin-top: 102px;
  font-size: 20px;
}

.no_transfer_to_next_line {
  white-space: nowrap;
}

/* ФУТЕР */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 181px;
  margin-bottom: 80px;
}

.footer_adress_margin {
  margin-left: 51px;
}

.navigation_footer {
  display: flex;
  flex-flow: column;
  justify-self: center;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  text-underline-offset: 3px;
  list-style: none;
}

.footer_links {
  display: flex;
  justify-self: center;
  gap: 48px;
  width: 240px;
  margin-left: 30px;
  list-style: none;
}

.footer_img {
  width: 48px;
  height: 48px;
}

.basic_info_footer {
  width:240px;
  font-size: 18px;
  line-height: 25px;
}