/* ЗАГОЛОВОК САЙТА */
body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 95px;
}
.navigation {
  display: flex;
  gap: 30px;
  padding-left: 50px;
  font-size: 18px;
  list-style-type: circle;
}

.image_header {
  position: relative;
  width: 155px;
  height: 107px;
  margin-right: 150px;
}

.no_italic {
  font-style: normal;
}

.basic_info {
  width:240px;
  margin-right: 50px;
  font-size: 18px;
  line-height: auto;
  list-style: none;
}

.navig_link {
  text-decoration: none;
  list-style: none;
}

.link_far_underline {
  border-bottom: 1.5px solid black;
  text-decoration: none;
}


/* ГЛАВНАЯ СЕКЦИЯ */

.main_screen_section {
  position: relative;
  min-height: 750px;
}

 .overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
} 

.main_screen_background_photo {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}


.main_screen_text {
  color: white;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

#ono {
  display: block;
  width: 100%;
  margin-left: 50px;
  padding-top: 165px;
}

#tebe {
  display: block;
  margin-left: 380px;
  margin-top: 20px; 
  width: 100%;
}

#nado {
  display: block;
  margin-left: 665px;
  margin-top: 20px;
}

.text_main_screen_over_betbutton {
  display: inline-block;
  color: white;
  margin-top: 106px;
  margin-left: 50px;
  width: 65%;
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.betbutton_style {
  width: 256px;
  height: 51px;
  border: 2px solid currentColor;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  margin-left: 20px;
}

/* ЛОТЫ */
.Lots_section_header {
  margin-top: 190px;
  margin-left: 65px;
  font-size: 40px;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 27px;
  margin-left: 25px;
  list-style: none;
}

.card_link_style {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration:none;
}

.card_conteiner {
  position: relative;
  width: 334px;
  min-height: 600px; 
}

.card_background {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.film {
  background-image: url(/images/card-lot-01.jpg);
}

.book {
  background-image: url(/images/card-lot-02.jpg);
}

.painting {
  background-image: url(/images/card-lot-03.jpg);
}

.card_info {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  width:254px;
}

.card_header {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 48px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.card_text {
  color: white;
  font-size: 20px;
  margin-bottom: 48px;
}

.see_more {
  display: block;
  margin-top: 30px;
  margin-left: 64px;
  font-size: 20px;
}

/* СЕКЦИЯ О ПРОЕКТЕ */
.about {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin-top: 120px;

}

.img_logo {
  align-self: center;
  width: 150px;
  height: 115px;
}

.logo_white_background {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 36px;
  margin-left: 71px;
  border-radius: 55%;
  background-color: black;
}

.about_header {
  justify-self: start;
  margin-top: 130px;
  margin-right: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2/3;
  gap: 24px;
  width: 690px;
  margin-right:40px;
  font-size: 20px;
}

/* ФУТЕР */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
  margin-top: 181px;
}

.footer_adress_margin {
  margin-left: 51px;
}

.navigation_footer {
  display: flex;
  flex-flow: column;
  justify-self: center;
  align-items: center;
  list-style: none;
}

.footer_links {
  display: flex;
  justify-self: center;
  gap: 48px;
  width: 240px;
  margin-left: 50px;
  list-style: none;
}

.footer_img {
  width: 48px;
  height: 48px;
}
